<%- include('partials/header');%>

<% posts.forEach(function(post) { %>

   <h1> <%= post.title; %> </h1> 
   <p> <%= post.content.slice(0,100) + "..." %> 
      <a id="read-more" href= "/posts/<%=  post._id; %>">Read more...</a>
   </p>

<% }); %>

<%  if (posts.length === 0){ %>
   <h1 class="welcome">Welcome to the daily journal!</h1>
   <p class="content welcome">Click the compose button to start.</p>
<%  } %>




<%- include('partials/footer');%>